.heading{
    background-color: darkcyan;
    width:auto;
    display:flexbox

}


.alpha{
    text-align:center;
    background-color:gray
}
 p{
    color:cyan
    font-size:30px;
 }
 .akash {
    background-color: yellow;
    text-align:center;
    border:5px solid green;
    margin:5px;
    padding:10px
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:300px;
 }
 .batash {
    color:aqua;
    background-color:indianred
 